
    <div id="awards" class="panel">
        <div class="image-bubble">
            <img src="/assets/img/knuth.jpg">
        </div>
        <div class="content">
            <div class="content-header">
                <h1>Donald Knuth<br/>
                <span class="sub">Awards</span></h1>
                <hr>
            </div>
            
            <div class="content-body scrollbar">
                <h3>The Art of Computer Programming (TAOCP)</h3>
                <p>
                    In 1971, Knuth was the recipient of the first ACM Grace Murray Hopper
                    Award. He has received various other awards including the Turing Award,
                    the National Medal of Science, the John von Neumann Medal, and the Kyoto
                    Prize.
                </p>
                <p>In recognition of Knuth's contributions to the field of computer science,
                    in 1990 he was awarded the one-of-a-kind academic title of Professor of
                    The Art of Computer Programming, which has since been revised to
                    Professor Emeritus of The Art of Computer Programming.
                </p>
                <p>
                    Knuth was elected to the National Academy of Sciences in 1975. In 1992,
                    he became an associate of the French Academy of Sciences. Also that year,
                    he retired from regular research and teaching at Stanford University in
                    order to finish The Art of Computer Programming. In 2003 he was elected
                    as a foreign member of the Royal Society.
                </p>
                <p>
                    Knuth was elected as a Fellow (first class of Fellows) of the Society for
                    Industrial and Applied Mathematics in 2009 for his outstanding
                    contributions to mathematics.[28] He is a member of the Norwegian Academy
                    of Science and Letters.[29] In 2012, he became a fellow of the American
                    Mathematical Society.[30]
                </p>
                <p>Honors bestowed on Knuth include:</p>
                <ul>
                    <li>First ACM Grace Murray Hopper Award, 1971</li>
                    <li>Turing Award, 1974</li>
                    <li>Lester R. Ford Award, 1975[31] and 1993[32]</li>
                    <li>Josiah Willard Gibbs Lecturer, 1978[33][34]</li>
                    <li>National Medal of Science, 1979</li>
                    <li>Franklin Medal, 1988</li>
                    <li>John von Neumann Medal, 1995</li>
                    <li>Harvey Prize from the Technion, 1995[35]</li>
                    <li>Kyoto Prize, 1996</li>
                    <li>
                        Fellow of the Computer History Museum "for his fundamental early work
                        in the history of computing algorithms, development of the TeX
                        typesetting language, and for major contributions to mathematics and
                        computer science." 1998[1]
                    </li>
                    <li>Katayanagi Prize, 2010[36]</li>
                    <li>
                        BBVA Foundation Frontiers of Knowledge Award in the category of
                        Information and Communication Technologies, 2010[37]
                    </li>
                    <li>Stanford University School of Engineering Hero Award, 2011[38]</li>
                </ul>
            </div>
        </div>
        <a href="#references" class="next-bubble"></a>
    </div>
