
    <div id="early-works" class="panel">
        <div class="image-bubble">
            <img src="/{{ site.baseurl }}/assets/img/knuth.jpg">
        </div>
        <div class="content">
            <div class="content-header">
                <h1>Donald Knuth<br/>
                <span class="sub">Early Works</span></h1>
                <hr>
            </div>
            
            <div class="content-body scrollbar">
                <p>
                    On receiving his PhD, Knuth joined Caltech's faculty as an associate
                    professor.
                </p>
                <p>
                    He accepted a commission to write a book on computer programming language
                    compilers. While working on this project, Knuth decided that he could not
                    adequately treat the topic without first developing a fundamental theory
                    of computer programming, which became The Art of Computer Programming. He
                    originally planned to publish this as a single book. As Knuth developed
                    his outline for the book, he concluded that he required six volumes, and
                    then seven, to thoroughly cover the subject. He published the first
                    volume in 1968.
                </p>
                <p>
                    Just before publishing the first volume of The Art of Computer
                    Programming, Knuth left Caltech to accept employment with the Institute
                    for Defense Analyses' Communications Research Division, then situated on
                    the Princeton University campus, which was performing mathematical
                    research in cryptography to support the National Security Agency.
                </p>
                <p>
                    Knuth then left this position to join the Stanford University faculty
                </p>
            </div>
        </div>
        <a href="#writings" class="next-bubble"></a>
    </div>
