
<div id="early-life" class="panel">
    <div class="image-bubble">
        <img src="/{{ site.baseurl }}/assets/img/early-life.jpg">
    </div>
    <div class="content">
        <div class="content-header">
            <h1>Donald Knuth<br/>
            <span class="sub">Early Life</span></h1>
            <hr>
        </div>

        <div class="content-body scrollbar">
            <p>
                Knuth was born in Milwaukee, Wisconsin, where his father owned a small
                printing business and taught bookkeeping at Milwaukee Lutheran High
                School, where Donald enrolled, earning achievement awards. He applied his
                intelligence in unconventional ways, winning a contest when he was in
                eighth grade by finding over 4,500 words that could be formed from the
                letters in "Ziegler's Giant Bar"; the judges had only about 2,500 words
                on their master list. This won him a television set for his school and
                enough candy bars for his entire school.[9]
            </p>
        </div>
    </div>
    <a href="#education" class="next-bubble"></a>
</div>
