
<div id="education" class="panel">
    <div class="image-bubble">
        <img src="/{{ site.baseurl }}/assets/img/knuth.jpg">
    </div>
    <div class="content">
        <div class="content-header">
            <h1>Donald Knuth<br/>
            <span class="sub">Education</span></h1>
            <hr>
        </div>

        <div class="content-body scrollbar">
            <p>
                Knuth had a difficult time choosing physics over music as his major at
                Case Institute of Technology (now part of Case Western Reserve
                University). He also joined Beta Nu Chapter of the Theta Chi fraternity.
                While studying physics at the Case Institute of Technology, Knuth was
                introduced to the IBM 650, one of the early mainframes. After reading the
                computer's manual, Knuth decided to rewrite the assembly and compiler
                code for the machine used in his school, because he believed he could do
                it better.[10] In 1958, Knuth constructed a program based on the value of
                each player that could help his school basketball team win the league.
                This was so novel a proposition at the time that it got picked up and
                published by Newsweek and also covered by Walter Cronkite on the CBS
                Evening News.[10] Knuth was one of the founding editors of the
                Engineering and Science Review, which won a national award as best
                technical magazine in 1959.[11] He then switched from physics to
                mathematics, and in 1960 he received his bachelor of science degree,
                simultaneously being given a master of science degree by a special award
                of the faculty who considered his work exceptionally outstanding.[10][12]
            </p>
            <p>
                In 1963, he earned a PhD in mathematics (his advisor was Marshall Hall)
                from the California Institute of Technology.[13]
            </p>
        </div>
    </div>
    <a href="#early-works" class="next-bubble"></a>
</div>
