
    <div id="introduction" class="panel">
        <div class="image-bubble">
            <img src="/assets/img/introduction.jpg">
        </div>
        <div class="content">
            <div class="content-header">
                <h1>Donald Knuth<br/>
                <span class="sub">Introduction</span></h1>
                <hr>
            </div>
            
            <div class="content-body scrollbar">
                <p>Donald Ervin Knuth (born January 10, 1938) is an American computer
                    scientist, mathematician, and professor emeritus at Stanford 
                    University.[3]
                </p>
                <p>
                    He is the author of the multi-volume work The Art of Computer
                    Programming.[4] Knuth has been called the "father of the analysis 
                    of algorithms".[5] He contributed to the development of the rigorous
                    analysis of the computational complexity of algorithms and systematized
                    formal mathematical techniques for it. In the process he also popularized
                    the asymptotic notation. In addition to fundamental contributions in
                    several branches of theoretical computer science, Knuth is the creator 
                    of the TeX computer typesetting system, the related METAFONT font
                    definition language and rendering system, and the Computer Modern family
                    of typefaces.
                </p>
                <p>
                    As a writer and scholar,[6] Knuth created the WEB and CWEB computer
                    programming systems designed to encourage and facilitate literate
                    programming, and designed the MIX/MMIX instruction set architectures.
                    As a member of the academic and scientific community, Knuth is strongly
                    opposed to the policy of granting software patents.[7] He has expressed
                    his disagreement directly to both the United States Patent and Trademark
                    Office and European Patent Organization.[8]
                </p>
            </div>
        </div>
        <a href="#early-life" class="next-bubble"></a>
    </div>