<!-- NAVBAR -->
<button class="nav-button"><span></span><span></span><span></span></button>
<nav class="navbar">
    <button class="nav-button close"><span></span><span></span></button>
    <ul class="navbar-inner">
        <li class="nav-item">
            <a href="#introduction" class="">Introduction</a>
        </li>
        <li class="nav-item">
            <a href="#early-life" class="">Early Life</a>
        </li>
        <li class="nav-item">
            <a href="#education" class="">Education</a>
        </li>
        <li class="nav-item">
            <a href="#early-works" class="">Early Works</a>
        </li>
        <li class="nav-item">
            <a href="#writings" class="">Writings</a>
        </li>
        <li class="nav-item">
            <a href="#awards" class="">Awards</a>
        </li>
        <li class="nav-item">
            <a href="#references" class="">References</a>
        </li>
    </ul>
</nav>

<!-- END NAVBAR -->