
    <div id="references" class="panel">
        <div class="image-bubble">
            <img src="/{{ site.baseurl }}/assets/img/knuth.jpg">
        </div>
        <div class="content">
            <div class="content-header">
                <h1>Donald Knuth<br/>
                <span class="sub">References</span></h1>
                <hr>
            </div>
            
            <div class="content-body scrollbar">
                <p>
                    All content from this site was retrived from the Donald Knuth page on
                    Wikipedia. References for these sources can be found 
                    <a href="https://en.wikipedia.org/wiki/Donald_Knuth#References">here</a>.
                </p>
            </div>
        </div>
    </div>
