
    <div id="writings" class="panel">
        <div class="image-bubble">
            <img src="/{{ site.baseurl }}/assets/img/knuth.jpg">
        </div>
        <div class="content">
            <div class="content-header">
                <h1>Donald Knuth<br/>
                <span class="sub">Writings</span></h1>
                <hr>
            </div>
            
            <div class="content-body scrollbar">
                <h3>The Art of Computer Programming (TAOCP)</h3>
                <p>
                    Computer science was then taking its first hesitant steps. "It was a
                    totally new field," Knuth recalls, "with no real identity. And the
                    standard of available publications was not that high. A lot of the papers
                    coming out were quite simply wrong. [...] So one of my motivations was to
                    put straight a story that had been very badly told."
                </p>
                <p>
                    After producing the third volume of his series in 1976, he expressed such
                    frustration with the nascent state of the then newly developed electronic
                    publishing tools (especially those that provided input to
                    phototypesetters) that he took time out to work on typesetting and
                    created the TeX and METAFONT tools.
                </p>
                <p>
                    As of 2013, the first three volumes and part one of volume four of his
                    series have been published.[14] Concrete Mathematics: A Foundation for
                    Computer Science 2nd ed., which originated with an expansion of the
                    mathematical preliminaries section of Volume 1 of TAoCP, has also been
                    published.
                </p>
                <h3>Other works</h3>
                <p>He is also the author of Surreal Numbers,[15] a mathematical novelette on
                    John Conway's set theory construction of an alternate system of numbers.
                    Instead of simply explaining the subject, the book seeks to show the
                    development of the mathematics. Knuth wanted the book to prepare students
                    for doing original, creative research.
                </p>
                <p>In 1995, Knuth wrote the foreword to the book A=B by Marko Petkovsek,
                    Herbert Wilf and Doron Zeilberger.[16] Knuth is also an occasional
                    contributor of language puzzles to Word Ways: The Journal of Recreational
                    Linguistics.
                </p>
                <h3>Religious beliefs and work</h3>
                <p>
                    In addition to his writings on computer science, Knuth, a Lutheran,[17]
                    is also the author of 3:16 Bible Texts Illuminated,[18] in which he
                    examines the Bible by a process of systematic sampling, namely an
                    analysis of chapter 3, verse 16 of each book. Each verse is accompanied
                    by a rendering in calligraphic art, contributed by a group of
                    calligraphers under the leadership of Hermann Zapf.
                </p>
                <p>
                    Subsequently he was invited to give a set of lectures on his 3:16
                    project, resulting in another book, Things a Computer Scientist Rarely
                    Talks About, where he published the lectures "God and Computer Science".
                </p>
            </div>
        </div>
        <a href="#awards" class="next-bubble"></a>
    </div>
